body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-lexend: Lexend;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-29xl: 48px;
  --font-size-19xl: 38px;
  --font-size-10xl: 29px;
  --font-size-3xl: 22px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-39xl: 58px;
  --font-size-27xl: 46px;
  --font-size-16xl: 35px;
  --font-size-11xl: 30px;
  --font-size-base-6: 15.6px;
  --font-size-mid-3: 17.3px;
  --font-size-sm-9: 13.9px;
  --font-size-xl-8: 20.8px;
  --font-size-mid: 17px;

  /* Colors */
  --grey-15: #262626;
  --color-gray-100: #22251b;
  --grey-11: #1c1c1c;
  --grey-10: #1a1a1a;
  --color-gray-200: rgba(255, 255, 255, 0.05);
  --grey-shades-70: #b3b3b3;
  --green-65: #d1ff4d;
  --green-60: #caff33;
  --color-greenyellow-100: #b0e61a;
  --color-greenyellow-200: rgba(202, 255, 51, 0.2);
  --white-shades-90: #e3e3e8;
  --absolute-white: #fff;
  --grey-35: #59595a;
  --color-dimgray-100: #595959;
  --color-dimgray-200: #4f4f4f;
  --grey-20: #333;
  --grey-75: #bfbfbf;

  /* Gaps */
  --gap-30xl-7: 49.7px;
  --gap-6xl: 25px;
  --gap-xl: 20px;
  --gap-xs-5: 11.5px;
  --gap-sm: 14px;
  --gap-7xs: 6px;
  --gap-8xs-2: 4.2px;
  --gap-67xl: 86px;
  --gap-24xl: 43px;
  --gap-2xl: 21px;
  --gap-31xl: 50px;
  --gap-10xs: 3px;
  --gap-61xl: 80px;
  --gap-21xl: 40px;
  --gap-11xl: 30px;
  --gap-mini: 15px;
  --gap-3xs: 10px;
  --gap-81xl: 100px;
  --gap-5xl: 24px;
  --gap-43xl: 62px;
  --gap-12xl: 31px;
  --gap-8xs: 5px;
  --gap-4xs-7: 8.7px;
  --gap-22xl: 41px;
  --gap-18xl: 37px;
  --gap-34xl: 53px;
  --gap-7xl: 26px;

  /* Paddings */
  --padding-31xl: 50px;
  --padding-80xl-5: 99.5px;
  --padding-xl: 20px;
  --padding-46xl: 65px;
  --padding-13xl: 32px;
  --padding-sm: 14px;
  --padding-11xl: 30px;
  --padding-base: 16px;
  --padding-smi-5: 12.5px;
  --padding-11xs-5: 1.5px;
  --padding-11xs: 2px;
  --padding-59xl: 78px;
  --padding-60xl: 79px;
  --padding-21xl: 40px;
  --padding-lg: 18px;
  --padding-125xl: 144px;
  --padding-smi: 13px;
  --padding-58xl: 77px;
  --padding-10xl: 29px;
  --padding-56xl: 75px;
  --padding-30xl: 49px;
  --padding-29xl: 48px;
  --padding-5xl: 24px;
  --padding-2xl: 21px;
  --padding-6xl: 25px;
  --padding-9xl: 28px;
  --padding-3xs: 10px;
  --padding-39xl: 58px;
  --padding-4xl: 23px;
  --padding-xs: 12px;
  --padding-15xl-7: 34.7px;
  --padding-15xl-6: 34.6px;
  --padding-4xs-7: 8.7px;
  --padding-4xs-6: 8.6px;
  --padding-xl-8: 20.8px;
  --padding-6xs: 7px;
  --padding-sm-8: 13.8px;
  --padding-sm-9: 13.9px;
  --padding-7xl: 26px;
  --padding-mid-3: 17.3px;
  --padding-7xs-8: 5.8px;
  --padding-xl-9: 20.9px;
  --padding-4xs: 9px;
  --padding-16xl: 35px;
  --padding-14xl: 33px;
  --padding-3xl: 22px;
  --padding-79xl: 98px;
  --padding-45xl: 64px;
  --padding-23xl: 42px;
  --padding-75xl: 94px;
  --padding-28xl: 47px;
  --padding-lgi: 19px;
  --padding-82xl: 101px;
  --padding-19xl: 38px;

  /* Border radiuses */
  --br-81xl: 100px;
  --br-7xs: 6px;
  --br-xl: 20px;
  --br-63xl: 82px;
  --br-xs: 12px;
  --br-base: 16px;
  --br-51xl: 70px;
  --br-31xl: 50px;
  --br-121xl: 140px;
  --br-2xs-4: 10.4px;
  --br-27xl: 46px;
  --br-169xl: 188px;
  --br-69xl: 88px;
  --br-44xl: 63px;
}
